<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body style="text-align:center;" id="body">
    <form>
        <input type="text" id="name" placeholder="Ваше имя">
        <input type="text" id="lastname" placeholder="Фамилия">
        <button id="sendBtn">Проверить JSON</button>
    </form>
    <div id='message'></div> <!--Результат-->
</body>
</html>
<script>
    document.getElementById("sendBtn").addEventListener("click", sendJSON);
    async function sendJSON(e) {
        e.preventDefault();
        const response = await fetch("/api/user", {
            method: "POST",
            headers: { "Accept": "application/json", "Content-Type": "application/json" },
            body: JSON.stringify({
                name: document.getElementById("name").value,
                lastname: document.getElementById("lastname").value
            })
        });
        const message = await response.json();
        document.getElementById("message").innerText = message.text;
    }
</script>
